In [41]:
# classification of heart disease with various models
# create the data frame from the dataset
import pandas as pd

In [42]:
#take column names in a 1ist
colnames = ['age','sex', 'cp' ,'trestbps', 'chol', 'fbs', 'restecg' 'thalach','exang' , 'oldpeak', 'slope', 'ca', 'thal', 'num']

In [44]:
# create data trame using the data file with column names
df = pd.read_csv("processed.cleveland.data", sep=',', names=colnames)
df

,age,sex,cp,trestbps,chol,fbs,restecgthalach,exang,oldpeak,slope,ca,thal,num
63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57.0,0.0,4.0,140.0,241.0,0.0,0.0,123.0,1.0,0.2,2.0,0.0,7.0,1
45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1

In [45]:
# convert num values into 0 or 1 only. call map(O
df['num'] = df.num.map ({0: 0, 1: 1, 2: 1, 3: 1, 4: 1})
df

,age,sex,cp,trestbps,chol,fbs,restecgthalach,exang,oldpeak,slope,ca,thal,num
63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1
67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57.0,0.0,4.0,140.0,241.0,0.0,0.0,123.0,1.0,0.2,2.0,0.0,7.0,1
45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,1
57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,1
57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1

In [46]:
# co1lect input data into x and target column into y
x= df.iloc[:, :-1].values # all cols except 1ast one
y = df.iloc[:, -1].values # take only the last col

In [47]:
# divide the data into train and test data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [48]:
# Support Vector Classifier Model
# Convert data using standard scaler for SVC model
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train1 = sc.fit_transform(x_train)
x_test1 = sc.transform(x_test)

In [49]:
from sklearn.svm import SVC
model=SVC(kernel='rbf')
model.fit(x_train1,y_train)

SVC()

In [51]:
testscore = model.score (x_test1, y_test)
trainscore = model.score (x_train1, y_train)
print ("Score on train data= %.2f" % trainscore)
print("Score on test data= %.2f" % testscore)

Score on train data= 0.92
Score on test data= 0.83

In [53]:
#Gaussian Naive Bayes Model
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(x_train, y_train)
testscore = model.score(x_test, y_test)
trainscore = model.score (x_train, y_train)
print("score on train data= %.2f" % trainscore)
print("score on test data= %.2f" % testscore)

score on train data= 0.86
score on test data= 0.84

In [55]:
# Logistic Regression Model1
from sklearn.linear_model import LogisticRegression
model = LogisticRegression (solver='liblinear')
model.fit(x_train, y_train)
testscore = model.score (x_test, y_test)
trainscore = model.score(x_train, y_train)
print("Score on train data= %.2f" % trainscore)
print("Score on test data= %.2f" % testscore)

Score on train data= 0.85
Score on test data= 0.84

In [58]:
# Decision Tree Model
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train, y_train)
testscore = model.score(x_test, y_test)
trainscore = model.score (x_train, y_train)
print ("score on train data= %.2f" % trainscore)
print("Score on test data= %.2f" % testscore)

score on train data= 1.00
Score on test data= 0.78

In [59]:
# Random Forest Model
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train, y_train)
testscore = model.score (x_test, y_test)
trainscore = model.score (x_train, y_train)
print("Score on train data= %.2f" % trainscore)
print("Score on test data= %.2f" % testscore)

Score on train data= 1.00
Score on test data= 0.82