In [2]:
#deciding to play cricket or not using a decision tree
import pandas as pd
# load the dataset
df = pd.read_csv('cricket1.csv')
df

     Outlook Temperature Humidity  Windy Play Cricket
0      Sunny         Hot     High  False           No
1      Sunny         Hot     High   True           No
2   Overcast         Hot     High  False          Yes
3      Rainy        Mild     High  False          Yes
4      Rainy        Cool   Normal  False          Yes
5      Rainy        Cool   Normal   True           No
6   Overcast        Cool   Normal   True          Yes
7      Sunny        Mild     High  False           No
8      Sunny        Cool   Normal  False          Yes
9      Rainy        Mild   Normal  False          Yes
10     Sunny        Mild   Normal   True          Yes
11  Overcast        Mild     High   True          Yes
12  Overcast         Hot   Normal  False          Yes
13     Rainy        Mild     High   True           No

In [3]:
# let us convert the column data into numeric.
# This is done with LabelEncoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [5]:
# apply label encoder on all columns.
# The following conversion takes place
'''Outlook --> 0 overcast, 1 Rainy, 2 Sunny
0
Temperature --> 0 Coo1, 1 Hot, 2 Mild
Humidity --> 0 High, 1 Normal
Windy --> 0 False, 1 True
Play Cricket --> 0 NO, 1 Yes
'''

df['Outlook_n'] = le.fit_transform(df['Outlook'])
df['Tempn'] = le.fit_transform(df['Temperature'])
df["Humidity_n"] = le.fit_transform(df['Humidity'])
df['Windy_n'] = le.fit_transform(df[ 'Windy'])
df['Play_n'] = le.fit_transform(df['Play Cricket'])
df

,Outlook,Temperature,Humidity,Windy,Play Cricket,Outlook_n,Tempn,Humidity_n,Windy_n,Play_n
0,Sunny,Hot,High,False,No,2,1,0,0,0
1,Sunny,Hot,High,True,No,2,1,0,1,0
2,Overcast,Hot,High,False,Yes,0,1,0,0,1
3,Rainy,Mild,High,False,Yes,1,2,0,0,1
4,Rainy,Cool,Normal,False,Yes,1,0,1,0,1
5,Rainy,Cool,Normal,True,No,1,0,1,1,0
6,Overcast,Cool,Normal,True,Yes,0,0,1,1,1
7,Sunny,Mild,High,False,No,2,2,0,0,0
8,Sunny,Cool,Normal,False,Yes,2,0,1,0,1
9,Rainy,Mild,Normal,False,Yes,1,2,1,0,1
10,Sunny,Mild,Normal,True,Yes,2,2,1,1,1
11,Overcast,Mild,High,True,Yes,0,2,0,1,1
12,Overcast,Hot,Normal,False,Yes,0,1,1,0,1
13,Rainy,Mild,High,True,No,1,2,0,1,0

In [7]:
# delete cols with labels (or strings) 
df=df.drop(['Outlook', 'Temperature','Humidity', 'Windy', 'Play Cricket'], axis = 'columns')
df

    Outlook_n  Tempn  Humidity_n  Windy_n  Play_n
0           2      1           0        0       0
1           2      1           0        1       0
2           0      1           0        0       1
3           1      2           0        0       1
4           1      0           1        0       1
5           1      0           1        1       0
6           0      0           1        1       1
7           2      2           0        0       0
8           2      0           1        0       1
9           1      2           1        0       1
10          2      2           1        1       1
11          0      2           0        1       1
12          0      1           1        0       1
13          1      2           0        1       0

In [10]:
# divide the data into x and y
x=df.drop(['Play_n'], axis='columns')
y=df['Play_n']

In [11]:
#Create the DecisionTreeclassifier model
from sklearn.tree import DecisionTreeClassifier

In [13]:
# default criterion='gini'. We can use criterion='entropy' also.
model = DecisionTreeClassifier()
model.fit(x, y)

DecisionTreeClassifier()

In [14]:
# predict whether to play cricket or not for the following data:
#today = (0utlook=Sunny, Temperature=Hot, Humidity=High, windy=FALSE)
model.predict([[2,1,0,0]])

C:\Anaconda\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])

In [ ]:
#array([0]) --> NO